{
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single",
      { "allowTemplateLiterals": true }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": { }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}

