.navbar-fixed-top + .container {
  margin-top: 80px;
}


.container-fluid.login {
  position: relative;

  padding-top: 50px;
}

.container-fluid.login:before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-color: whitesmoke;
}

.login h1 {
  color: #ddd;
}

.panel.panel-login {
  margin-top: 20px;
  border-width: 0;

  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}


.list-group.questions-list {

}

.list-group.questions-list .inline-toolbar {
  margin-top: 15px;
}

.dl-horizontal.question-meta > dt {
  width: 110px;
}

.dl-horizontal.question-meta > dd {
  margin-left: 120px;
}


.list-group-item.row {
  padding-left: 0;
  padding-right: 0;
}

.list-group-item .row .btn.btn-xs {
  margin-top: 5px;
}
